{% extends 'base.html.twig' %}

{% block title %} Bienvenue {% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron mt-4">
            <h1 class="display-5">Bienvenue sur Carshop</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad aliquam asperiores aut, consequatur cum cupiditate, delectus dolorem eaque fuga inventore iusto laudantium nemo nostrum officia quaerat qui quis quo, sequi totam. Accusantium architecto aut culpa cupiditate doloremque excepturi exercitationem fugit, harum impedit, maiores maxime neque obcaecati recusandae sed soluta.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid, dolores fuga laborum mollitia neque nihil officia perspiciatis provident quod ratione repudiandae similique totam ullam.</p>
            <p class="lead mt-3">
                <a href="{{ path('advert_index') }}" class="btn btn-primary p-3" role="button">Voir nos voitures</a>
            </p>
        </div>
        <h1 class="mt-5 mb-4">Véhicules récemment ajoutés.</h1>
        <div class="row">
            {% for advert in lastAdverts %}
                {% include 'advert/_advert.html.twig' %}
            {% endfor %}
        </div>
        <h1 class="mt-3 mb-4">Véhicules électriques</h1>
        <div class="row">
            {% for advert in electricCars %}
                {% include 'advert/_advert.html.twig' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}