body {
    background-color: lightgray;
}

#footer {
    position: sticky;
    top: 100vh;
}

.carousel-caption {
    color: white;
    text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
}

.carousel-item img {
    min-height: 328px;
    object-fit: cover;
}

