body {
    background-color: lightgray;
}

#footer {
    position: sticky;
    top: 100vh;
}

.carousel-caption {
    color: white;
    text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
}

.carousel-item img, .image-placeholder {
    height: 328px;
    object-fit: cover;
}

.avatar {
    width: 128px;
    height: 128px;
    object-fit: contain;
    border-radius: 50%;
}

@media screen and (max-width: 992px){
    .account-button {
        width: 100% !important;
    }
}
